.project-container {
  width: 100vw;
  margin-top: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;

  .project-box-1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    .project-screen-zuhause {
      width: 900px;
      margin-bottom: 2em;
    }

    .project-text {
      width: 900px;
      margin-bottom: 10em;
      font-size: 1.5em;
    }
  }

  .project-box-2 {
    display: flex;
    flex-direction: column;
    align-items: center;


    .project-screen-countries {
      width: 450px;
      margin-bottom: 2em;
    }

    .project-text {
      margin-bottom: 10em;
      font-size: 1.5em;
    }
  }
  
      span {
        font-weight: bold;
      }
    }

@media (max-width: 767px) {
  .project-container {
    .project-box-1 {
      .project-screen-zuhause {
        width: 500px;
      }

      .project-text {
        width: 500px;
        text-align: center;
      }
    }

    .project-box-2 {
      .project-screen-countries {
        width: 300px;
      }

      .project-text {
        width: 300px;
        text-align: center;
      }
    }
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .project-container {
    .project-box-1 {
      .project-screen-zuhause {
        width: 700px;
      }

      .project-text {
        width: 700px;
        text-align: center;
      }
    }

    .project-box-2 {
      .project-screen-countries {
        width: 400px;
      }

      .project-text {
        width: 400px;
        text-align: center;
      }
    }
  }

}
