.project-container {
  width: 100vw;
  margin-top: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;

  .project-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    .project-screen-gorizont {
      width: 900px;
      margin-bottom: 2em;
    }

    .project-screen-vertikal {
      width: 400px;
      margin-bottom: 2em;
    }

    .project-text {
      width: 900px;
      margin-bottom: 10em;
      font-size: 1.5em;
    }

    .project-text-vertikal {
      width: 400px;
      margin-bottom: 10em;
      font-size: 1.5em;
    }

    span {
      font-weight: bold;
    }
  }
}

@media (max-width: 767px) {
  .project-container {
    .project-box {
      .project-screen-gorizont {
        width: 400px;
      }

      .project-screen-vertikal {
        width: 250px;
      }

      .project-text {
        width: 400px;
        text-align: center;
      }
    }
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .project-container {
    .project-box {
      .project-screen-gorizont {
        width: 700px;
      }

      .project-screen-vertikal {
        width: 400px;
      }

      .project-text {
        width: 700px;
        text-align: center;
      }
    }
  }
}
