.about-container {
  padding: 12em 0;
  width: 80%;
  margin: 0 auto;

  .buttons-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 30px;

    .language-button {
    }
  }

  .about-text {
    text-align: justify;

    p {
      margin-bottom: 2em;
      line-height: 1.5em;
      font-size: 1.7em;

      .linkToDocuments {
        text-decoration: none;
        color: black;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  .about-container {
    .about-text {
      p {
        font-size: 1.3em;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .about-container {
    padding: 10em 0;
    .about-text {
      p {
        font-size: 1em;
      }
    }
  }
}
