.container-docs {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .link-docs {
    font-size: 1.5em;
    margin: 20px 0;
    cursor: pointer;
    text-decoration: none;
    color: black;
    text-align: center;
  }

  .link-docs:hover {
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .container-docs {
    .link-docs {
      font-size: 1.2em;
    }
  }
}
