.contact-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 10em 0;

  .left,
  .right {
    width: 50%;
  }

  img {
    margin-right: 30px;
    width: 100px;
  }

  .icon-container {
    display: flex;
    align-items: center;
    margin: 40px 40px 0;

    .data-text {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;

    .left,
    .right {
      width: 100%;

      img {
        width: 70px;
      }

      .data-text {
        font-size: 18px;
      }
    }
  }
}
