.contact-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 15em;
  display: flex;
  

  .left, .right {
    width: 50%;
  }

  img {
    margin-right: 2em;
  }

  .icon-container {
    display: flex;
    align-items: center;
    margin: 40px;

    .data-text {
      font-size: 1.5em;
    }
  }
}

@media screen and (max-width: 768px) {
  .contact-container {
    padding-top: 10em;

    img {
      width: 100px;
    }

    .data-text {
      font-size: 1em;
    }
  }
}

