.contact-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding: 100px 0;

  .left,
  .right {
    width: 50%;
  }

  img {
    margin-right: 30px;
  }

  .icon-container {
    display: flex;
    align-items: center;
    margin: 40px;

    .data-text {
      font-size: 25px;
    }
  }
}

@media screen and (max-width: 768px) {
  .contact-container {
    img {
      width: 100px;
    }

    .data-text {
      font-size: 1em;
    }
  }
}
